
.form_elements{
	padding : 20px 30px 0px 20px;
}

.label_Style{
	float: left;
    padding-left: 20px;
    margin-right: 22px;
}

.contact-form {
}

.button-container {
	float: right;
	margin: 15px;
}

.add-button-elements {
}

.reset-button-elements{
	margin-left : 15px;
}

.radio-container {
	display: block;
}

.radio-container label {
	margin: 0 10px;
}

.table-container {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 15px;
	background-color: white;
}

.icon-separator {
	margin-right: 10px;
}
